* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: lightyellow;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-container {
    height: auto;
    width: auto;
    padding: 20px;
    border: 5px solid black;
   
}

.buttons {
    display: grid;
    width: 400px;
    height: auto;
    grid-template: repeat(6, 85px) / repeat(4, 1fr);
    gap: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

.buttons > #output{
    width: auto;
    height: auto;
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    color: white;
    background-color: rgb(158, 181, 181);
    
    border: 3px solid black;
    border-radius: 5px;
    font-size: 30px;
    font-weight: normal;
    box-sizing: border-box;
    
}

.buttons > button {
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    
    
}

.buttons > button:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    cursor: pointer;
}

.buttons > #zero {
    grid-column: span 1;
}

.buttons > .operand, .decimal, .equals  {
    background-color: darkslategrey;
    
}

.buttons > .operator {
    background-color: orange;
}

.buttons > .clear, .sign, #modulo {
    background-color: orange;
}

.buttons > .delete {
    background-color: orangered;
}

#delete-icon {
    color: white;
    background: none
}







